<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/vendor/jquery.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>-->
    <script src='/javascripts/launch.js' type='text/javascript'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img class="terminalCmd" src="/images/terminal.png" width="738" height="504" alt="">
    <img class="terminalCmd" src="/images/terminal.png" width="738" height="504" alt="">
    <button class="vimCmd" data-filename="~/.bashrc">bashrc</button>
    <button class="vimCmd" data-filename="~/.bashrc">bashrc</button>
  </body>
</html>
